rootfs/
rootfs-a10/
rootfs-a20/
rootfs-a20-3.4/
rootfs-a20-3.3/
rootfs-a10-3.4/

toolchain-linaro/

linux-sunxi-a10/
linux-sunxi-a20-3.4/
linux-sunxi-a20-3.3/
linux-sunxi-a20/

u-boot-sunxi-a10-nand/
u-boot-sunxi-a10-mmc/
u-boot-sunxi-a20-nand/
u-boot-sunxi-a20-mmc/
u-boot-sunxi-a20-mmc-fixed-machid/
u-boot-sunxi-a20-nand-fixed-machid/

sunxi-tools-arm/

fsupdatebase/

mnt/
packages/

argon.rootfs.tar.gz
argon.basesys.tar.gz
argon.basesys.pkg.tar.gz
argon.basesys.config.tar.gz
argon.basesys.final.tar.gz

rootfs-a10.gz
rootfs-a20.gz

*.swp
*.img
*.img.bz2
*.7z
