*.swp
argon.rootfs.cleanbackup.tar.gz
rootfs/
u-boot-sunxi-a20/
linux-sunxi-a20/

argon.rootfs.tar.gz
argon.basesys.tar.gz
argon.basesys.pkg.tar.gz
argon.basesys.config.tar.gz
argon.basesys.final.tar.gz

mnt/
toolchain-linaro/

*.img
*.img.bz2
*.7z
