*.swp
argon.rootfs.cleanbackup.tar.gz
rootfs/
u-boot-sunxi-a20/
linux-sunxi-a20/

argon.basesys.cleanbackup.tar.gz
argon.basesys.pkg.cleanbackup.tar.gz
argon.basesys.config.cleanbackup.tar.gz
argon.basesys.final.cleanbackup.tar.gz
boot

mnt/

*.img
*.img.bz2
*.7z
